<% if flash[:errors] %>
    <% flash[:errors].each do |error_message|%>
        <p>
            <%= error_message %>
        </p>
    <% end %>
<% end %>

<%= form_for @appearance do |f|%>
    <%=f.label :rating, "Rating(1-5): "%>
    <%=f.number_field :rating%><br><br>
    <%=f.label :guest_id%>
    <%=f.collection_select :guest_id, @guests, :id, :name%><br><br>
    <%=f.label :episode_id%>
    <%=f.collection_select :episode_id, @episodes, :id, :number%><br><br>
    <%=f.submit%>
<%end%>